* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}
html,
body {
  font-family: 'Open Sans', Verdana, sans-serif;
  height: 100%;
}

.fl {
  float: left;
  margin-right: 10px;
}
.fr {
  float: right;
}

.clear {
  clear: both;
}

p {
  padding: 10px 5px;
  text-align: justify;
}

.page-wrapper {
  height: 100%;
  /* margin: auto;
  max-width: 1440px; */
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  padding-top: 20px;
  background-color: rgba(0, 255, 255, 0.205);
}

.logo {
  max-width: 100px;
}
.logo:hover {
  opacity: 0.9;
}

.slogan {
  font-size: 20px;
  margin: 35px 50px;
}

.contacts a {
  display: block;
  text-decoration: none;
  color: #3b5998;;
  font-weight: bold;
}

.contacts a:hover {
  color: #ffffff;
  background-color: #3b5998;
  transition: all 0.3s ease;
}

.header__nav {
  background-color: #3b5998;
}
.menu li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
}
.menu a {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 30px;
  text-decoration: none;
}
.menu a:hover {
  background-color: #000000;
  transition: all 0.3s ease;
}
.submenu {
  font-size: 15px;
  visibility: hidden;
  background: #506eaf;
  width: 200px;
  position: absolute;
  opacity: 0;
}
.submenu li,
.submenu a {
  display: block;
}
.main {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 150px;
  background: #1c1e21;
  color: #ffffff;
}

.banner {
  background: url('../img/banner2.jpg') no-repeat center;
  background-size: cover;
  padding: 50px 0;
}
.banner__text {
  background-color: #020202b2;
  width: 600px;
  margin-left: 300px;
}

.about {
  background-color: #b8c4de;
  padding: 60px 0;
}

.about__head {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  color: #000000;
}

.sidebar {
  background-color: #333333b5;
  padding: 10px;
  display: block;
  width: 33.3%;
  margin-right: 10px;
}
.sidebar-menu__item {
  padding: 0;
  margin: 0;
}
.sidebar-menu {
  list-style: none;
}
.sidebar-menu a {
  display: block;
  padding: 8px 8px 20px 5px;
  margin-bottom: 20px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.662);
}
.sidebar-menu a:hover {
  color: #000000;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}
.content {
  color: #000000;
  width: 60%;
}
.content p {
  padding-top: 0;
}
.content img {
  width: 400px;
}
.main-text__heading {
  text-align: center;
}
.footer {
  background-color: #3b5998;
  color: #ffffff;
  min-height: 150px;
  margin-top: -150px;
}

/* lab work start here */
.lab {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.624);
}
.inputs {
  margin-top: 50px;
}
.input {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 60%;
  font-size: 20px;
  padding: 15px 2px 5px 2px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ffffffa5;
  background-color: transparent;
  color: #ffffff;
}

.modal-wrap {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: linear-gradient(#013d6a, #0598c1, #16bbe8 );
  box-shadow: 0 0 15px #000000;
  border-radius: 10px;
}

.form {
  height: 100%;
}

.form h2 {
  font-weight: normal;
  margin: 40px 0 0 40px;
  color: #ffffff;
  text-transform: uppercase;
}

.input:focus-visible {
  outline: none;
  transition: all 0.3s ease;
}

.input::placeholder {
  color: #ffffff97;
  font-size: 15px;
}
.input:focus-visible::placeholder {
  color: rgba(255, 255, 255, 0.098);
}
.input.modal-btn {
  padding: 0;
}
.modal-btn {
  background: linear-gradient(to right, #e9835d, #ee574e);
  height: 50px;
  margin-top: 50px;
  color: #ffffffc4;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
}

.closed {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  width: 35px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  font-size: 25px;
  padding: 2px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  opacity: 0.7;
}
.closed:hover{
  opacity: 1;
}
.closed:active {
  color: #000000;
}

.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  transition: all 0.3s ease;
}
.modal-btn:active {
  background: linear-gradient(to right, #894c35, #7f2e2a);
  color: #7c7c7c;
}

.take-order {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to right, #e9835d, #ee574e);
  border-radius: 5px;
  margin: 20px;
  opacity: 0.7;
}

.take-order:hover {
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease;
}
