body {
    max-width: 768px;
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: rgb(226, 219, 209);
    padding: 20px;
}

header img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(172, 65, 26);
    font-size: 22px;
}

a:hover {
    color: black;
}

div img {
    width: 300px;
    margin: 20px;
}

p {
    text-align: justify;
}

.blocks {
    display: flex;
    
}

footer {
    background-color: rgb(226, 219, 209);
    padding: 20px;
    
}

footer p {
    display: flex;
    justify-content: space-between ;
}


/* 404 NO FOUND */


.header-error {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-error img {
    width: 30%;
}

.header-error ul {
    margin: 0 30px;
}

.error404 {
    width: 80;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250px;
    font-weight: bold;

    background: linear-gradient(yellow, green);
    background-clip: text;
    -webkit-background-clip: text;
     color: transparent; 
}

h3 {
    text-align: center;
}
.proposal {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}