
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  background-color: #222;
  font-family: "Anton", sans-serif;
  margin: 0;
}

body > main > center > p {
  color: yellowgreen;
  font-family: "Open Sans";
}

body > main > center > h1 {
  text-transform: uppercase;
  color: yellow;
  font-size: 66px;
}

body > main > center > h3 > a {
  text-transform: uppercase;
  font-size: 24px;
  color: black;
  background-color: yellow;
  text-decoration: none;
  padding: 1px 5px;
  border: 3px solid black;
  border-radius: 5px;
}
