
section {
    margin: 50px 0px;
    text-align: center;
}

div {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

h2 {
    color: #e907b1;
    font-size: 140px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: normal;
}

h3 { font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: normal;
}


button {
    padding: 6px 8px;
    margin: 0 10px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    background: #e907b1;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


element.style {
}
.category {
    color: #e907b1;}